
<app-navbar></app-navbar>
<style>
#nnn{
  background: none;
  border: none;
}

</style> 

<div class="content-wrapper"
style="
background: url(assets/files/whit2.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: 105vh;">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 50px;">
        <!-- <div class="col-sm-5"> -->
        <div class="text-center">
          <h1 class="text-primary font-weight-bold">{{'User List' | translate }}</h1>
        </div>
      </div>
      <!-- <button class="filebtn third">Button 3</button> -->
      <div class="row p-1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.firstName"
            placeholder="{{'Search First Name' | translate}}">

        </div>
        
        <!-- <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.loginId" placeholder="{{'Search Email' | translate}}">
        </div> -->
        <div class="col-sm-2">

          <select class="form-control" name="roleId" [(ngModel)]="form.searchParams.roleId" aria-label="ngSelected">
            <option [ngValue]="" value="undefined">{{' Select Role' | translate }}</option>
            <option *ngFor="let obj of form.preload.roleList" [value]="obj.key">{{obj.value}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <!-- <input type="text" class="form-control" [(ngModel)]="form.searchParams.status" placeholder="{{'Search Status' | translate}}"> -->
        </div>
        <div class="col-sm-1 ml-3">
          <button (click)="submit()" class="btn btn-primary">
            {{'Search' | translate }}</button>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="col-lg-2 ml-4">
          <button (click)="forward('/user')" type="button" class="btn btn-success">{{'Add User' | translate}}
          </button>
        </div>
        

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">
            {{'Delete'| translate}}</button>
        </div>
      </div>


      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div class="p-1">
        <div class="table-responsive">

          <table class="table table-bordered table-hover font-weight-bold text-dark">
            <thead class="thead-dark text-uppercase ">
              <tr align="center">
                <th><input type="checkbox" [(ngModel)]="isMasterSel"  name="list_name" value="h1" 
                    (change)="checkUncheckAll($event)" /></th>
                <th>{{'S.No' | translate}}</th>
                <th>{{'Image' | translate}}</th>
                <th>{{'First Name' | translate}}</th>
                <th>{{'Last Name' | translate}}</th>
                <th>{{'Login' | translate}}</th>
                <th>{{'Status' | translate}}</th>
                <th>{{'Role' | translate}}</th>
                <th>{{'Phone' | translate}}</th>
                <th>{{'DOB' | translate}}</th>
                <th>{{'Edit' | translate}}</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let m of form.list; let i = index" align="center">
                <td> <input type="checkbox" #checkboxes (change)="checklistUpdate()" [disabled]="m.roleName=='Admin'" name="list_name" id="{{m.id}}" value="{{isMasterSel}}" />
                </td>
                <td> {{(form.pageNo*5)+i+ 1}} </td>
                <td>
                  <div *ngIf="m.imageId">
                    <img src="http://localhost:8080/User/profilePic/{{m.id}}" height="55px" width="80px">
                  </div>
                  <div *ngIf="!m.imageId">
                    <img src="../../assets/files/default.jpg" height="55px" width="80px">
                  </div>
                </td>

                <td> {{ m.firstName }} </td>
                <td> {{ m.lastName }} </td>
                <td> {{ m.loginId }} </td>
                <td> {{ m.status }} </td>
                <td> {{ m.roleName }} </td>
                <td> {{ m.phone }} </td>
                <td> {{ m.dob | date : 'dd-MM-yyyy'}} </td>
                <td>

                  <button  class="fa fa-edit text-primary " id="nnn" [disabled]="m.roleName=='Admin'" (click)="forward( '/user/' +  m.id)" style="
                  cursor: pointer;"></button>
                  <!-- <a (click)="forward( '/user/' +  m.id)" style="
                    cursor: pointer;">
                    <i class="fa fa-edit text-primary"></i>
                  </a> -->
                  <!-- /
                  <a (click)="delete(m.id)" style="cursor: pointer;">
                    <i class="fa fa-trash text-danger "></i>
                  </a> -->

                </td>
              </tr>





            </tbody>

          </table>
          <table style="width: 100%;">
            <tr>
              <td style="width: 50%;">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info"> {{'Previous' | translate
            }} </button></td>

            <td *ngIf="form.list.length!=0" style="width: 50%;"></td>
            <td *ngIf="form.list.length==0" style="width: 50%;"><a class="btn btn-warning mr-1" [routerLink]="['/userlist']">{{'Back' | translate}}</a></td>


        
            <td><button (click)="next()" [disabled]="nextList==0" type="button" class="btn btn-info"> {{'Next' |
              translate }}</button></td>
            </tr>
            </table>



      </div>
    </div>

  </div>
</div>
</div>
<app-footer></app-footer>