<app-navbar></app-navbar>
<div class="content-wrapper" style="padding-top: 3%; padding-bottom: 15%; 
background: url(assets/files/gettyimages-1132439283-640x640.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: 90vh;">
  <div class="container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 70px;">

        <div class="text-center">
          <h2 class="text-primary font-weight-bold">{{'Student List' | translate }}</h2>

        </div>
      </div>

      <div class="row p-1">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.enrolNo"
            placeholder="{{'Search Enrollment' | translate }}">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.collegeName"
            placeholder="{{'Search College' | translate }}">
        </div>

        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.email"
            placeholder="{{'Search Email' | translate }}">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.phoneNo"
            placeholder="{{'Search Mobile Number' | translate }}">
        </div>
        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">
            {{'Search' | translate }}</button>
        </div>



        <div class="col-lg-2">
          <button (click)="forward('/student')" type="button" class="btn btn-success">{{'Add Student' | translate }}
          </button>
        </div>


        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">
            {{'Delete'| translate}}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.message}}
      </div>
      <div class="p-1">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light text-uppercase">
              <tr align="center">
                <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                    (change)="checkUncheckAll($event)" /></th>
                <th>{{'S.No' | translate }}</th>
                <th>{{'Enrollment No' | translate }}</th>
                <th>{{'First Name' | translate }}</th>
                <th>{{'Last Name' | translate }}</th>
                <th>{{'College' | translate }}</th>
                <th>{{'DOB' | translate }}</th>
                <th>{{'Mobile' | translate }}</th>
                <th>{{'Email' | translate }}</th>
                <th>{{'Edit' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of form.list; let i = index" align="center">
                <td> <input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" id="{{m.id}}" value="{{isMasterSel}}" />
                </td>
                <td> {{(form.pageNo*5)+i+ 1}} </td>
                <td>{{m.enrolNo}}</td>
                <td> {{ m.firstName }} </td>
                <td> {{ m.lastName }} </td>
                <td> {{ m.collegeName }} </td>
                <td>{{m.dob | date : 'dd-MM-yyyy'}}</td>
                <td> {{ m.phoneNo }} </td>
                <td> {{ m.email }} </td>
                <td>
                  <a (click)="forward( '/student/' +  m.id)" style="cursor: pointer;">
                    <i class="fa fa-edit text-info"></i>
                  </a>
                  <!-- /
                  <a (click)="delete(m.id)" style="cursor: pointer;">
                    <i class="fa fa-trash text-danger"></i>
                  </a> -->
                </td>
              </tr>
            </tbody>
          </table>
          <table style="width: 100%;">
              <tr> <td style="width: 50%;"><button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{'Previous' |
                    translate }} </button>
                </td>  
                <td *ngIf="form.list.length!=0" style="width: 50%;"></td>
                <td *ngIf="form.list.length==0" style="width: 50%;"><a class="btn btn-warning mr-1" [routerLink]="['/studentlist']">{{'Back' | translate}}</a></td>
                <td>
                  <button (click)="next()" [disabled]="nextList==0" type="button" class="btn btn-info">{{'Next' | translate }} </button>
                 </td>
                </tr>
              </table>
          
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>