<app-navbar></app-navbar>
<style>
  .grad{
 background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
 background-repeat: no repeat;
 background-size: 100%;
 padding-bottom: 25px
 ;
 }
</style>
<div class="row " style="padding-top: 3%; 
padding-bottom:3%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add Student' | translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update Student' | translate }}</h2>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Enrollment No' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-card grey-text"></i> </div>
                </div>
                <input type="text" name="enrolNo" [(ngModel)]="form.data.enrolNo" class="form-control"
                  placeholder="{{'Enter Enrollment Number' | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.enrolNo}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'First Name' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                <input type="text" name="firstN" [(ngModel)]="form.data.firstName" class="form-control"
                  placeholder="{{'Enter First Name' | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.firstName}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Last Name' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i> </div>
                </div>
                <input type="text" name="lastN" [(ngModel)]="form.data.lastName" class="form-control"
                  placeholder="{{'Enter Last Name' | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.firstName}} </span>
          </div>


          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'College' | translate }} </b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-university grey-text"></i> </div>
                </div>

                <select class="form-control" name="collegeId" [(ngModel)]="form.data.collegeId"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{' Select College' | translate }}</option>
                  <option *ngFor="let obj of form.preload.collegeList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.collegeId}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Email' | translate }} </b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="email" [(ngModel)]="form.data.email" class="form-control"
                  placeholder="{{'Enter Email Id' | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.email}} </span>
          </div>
          
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'DOB' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i> </div>
                </div>
                <input type="date" name="dob" [value]="form.data.dob| date:'yyyy-MM-dd'"
                (input)="form.data.dob=parseDate($event.target.value)"
                class="form-control form-control-sm" required />
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.dob}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"  ><b>{{'Mobile No' | translate }} </b>
              <span class="required-field" ></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                </div>
                <input type="text" maxlength="10" name="phoneNo" [(ngModel)]="form.data.phoneNo" class="form-control"
                  placeholder="{{'Enter Mobile Number' | translate }}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.phoneNo}} </span>
          </div>

          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <button (click)="forward('/studentlist')" type="button"
                class="btn btn-warning mr-1">{{'List' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>