<app-navbar ></app-navbar>
<style>
  .grad{
  background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
  background-repeat: no repeat;
  background-size: 100%;
  padding-bottom: 10px;
  } 
  
</style>
<div class="row " style="padding-top: 10%; padding-bottom:15%;
background: url(assets/files/wlan-g460d14db8_1920.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: 95vh;">


  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form #loginForm="ngForm">
          
          <div style="text-align: center;">
          <h1 class="text-primary font-weight-bold">{{'Forgot Password' | translate}}</h1>
          </div>

          <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="form.error == false && form.message == 'Password has been sent to email id'"
            class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Email Id' | translate}}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="loginId" [(ngModel)]="form.loginId" class="form-control"
                  placeholder="{{'Enter Login Id' | translate}}">
              </div>
            </div>
          </div>

          <span class="alertRedColor">{{inputerror.loginId}}</span>

          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button (click)="submit()" [disabled]="!validate()" class="btn btn-success mr-2">
                {{'Reset My Password' | translate}}</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  
</div>
  </div>

<app-footer></app-footer>