<app-navbar></app-navbar>
<style>
  .grad{
 background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
 background-repeat: no repeat;
 background-size: 100%;
 padding-bottom: 25px
 ;
 }

</style>

<div class="row " style="padding-top: 3%; padding-bottom:3%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold">{{'Add Marksheet' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold">{{'Update Marksheet' | translate}}</h2>
          
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Roll No' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-card grey-text"></i> </div>
                </div>
                <input type="text" name="rollNo" [(ngModel)]="form.data.rollNo" class="form-control"
                  placeholder="{{'Enter Roll No' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.rollNo}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Student' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                

                <select class="form-control" required name="studentId"
                  [(ngModel)]="form.data.studentId" style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{' Select Student' | translate }}</option>
                  <option *ngFor="let obj of form.preload.studentList" [value]="obj.id">{{obj.firstName + ' ' +obj.lastName }}</option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.studentId}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Physics' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-check grey-text"></i> </div>
                </div>
                <input type="text" name="phy" [(ngModel)]="form.data.physics" class="form-control"
                  placeholder="{{'Enter Physics Marks' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.physics}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Chemistry' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-check grey-text"></i> </div>
                </div>
                <input type="text" name="chemistry" [(ngModel)]="form.data.chemistry" class="form-control"
                  placeholder="{{'Enter Chemistry Marks' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.chemistry}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Maths' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-check grey-text"></i> </div>
                </div>
                
                <input type="text" name="math" [(ngModel)]="form.data.maths" class="form-control"
                  placeholder="{{'Enter Maths Marks'| translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.maths}} </span>
          </div>
         
         
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()"  class="btn btn-success mr-2">
                {{'Save' | translate}}</button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update'| translate}}</button>
            </div>
            <div class="pt-2">
              <button (click)="forward('/marksheetlist')" type="button" class="btn btn-warning mr-1">{{'Back'| translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>