<!-- <app-navbar></app-navbar>
<div>
    <p class="text-info font-weight-bold" style="padding-left: 30%; font-size: 70px;">WELCOME TO ORS</p>
    <div style="background-image: url(../../assets/files/IndexView.png); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        padding-bottom:18%;
        padding-top: 5%;
        ">
        <p class="text-white font-weight-bold" style="padding-top: 10%; padding-left: 25%; font-size: 20px;">.</p>
    </div>
</div>
<app-footer></app-footer> -->


<style>
  body{
  
  background-image: url('<%=ORSView.APP_CONTEXT%>/img/lib.jpg');
      background-size: 100%;
  
  
  }
  .cl{
    font-family: Lucida Calligraphy; 
  
   /*  font-family: Monotype Corsiva;
    
   font-family: Footlight MT Light; */
    }
  </style>
<app-navbar></app-navbar>

<div>  
  <!-- <div class="img-fluid" style="background-image: url(../../assets/files/welcomeView2.png); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100%;
      padding-bottom:18%;
      padding-top: 5%;
      ">
      <p class="text-white font-weight-bold" style="padding-top: 10%; padding-left: 25%; font-size: 20px;">.</p>
  </div> -->

  <div class="row " style="padding-bottom: 14%;
   background: url(assets/files/Corpus_Christi_College_New_Court,_Cambridge,_UK_-_Diliff.jpg) no-repeat center center;
   
  background-attachment: fixed;
  background-size: cover; width:cover;
    height: 120vh;">
    <p class="text-cs1 font-family ml-4 font-weight-bold" style="padding-top: 7%; 
    padding-left: 36%;font-size: 45px; color: rgb(242, 255, 168);">{{'WELCOME TO ORS' | translate}}</p></div>
</div>

<app-footer></app-footer>